__pycache__/
*.pyc
*.pyo
*.pyd

*.db
*.sqlite
*.sqlite3
*.db-journal
*.sqlite3-journal

venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

.python-version
.pdm-python
__pypackages__/

build/
dist/
site/
*.egg-info/
.eggs/
pip-wheel-metadata/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/
.hypothesis/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

.env
.env.*
!.env.example

tmp/
temp/

node_modules/
back/network/file_transfer.py
